/**
 * components/Track
 * - styles for a single song listing
 */

.track {
  position: relative;

  + .track {
    border-top: 1px solid var(--color-accent);
  }

  img {
    max-width: 72px;
    width: 100%;
  }
}

.track__info {
  padding: 0 var(--spacer);
}

.track__title {
  margin-bottom: calc(var(--spacer) / 2);
}

.track__link {
  align-items: flex-start;
  color: var(--color-black);
  display: flex;
  padding: var(--spacer) 0;
  text-decoration: none;

  &:hover {
    .track__title {
      color: var(--color-secondary);
    }
  }
}