.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-section-margin {
  margin: calc(var(--spacer) * 2) 0;
}

.u-vertical-rhythm > * + * {
  margin-top: var(--spacer);
}