:root {
  --input-padding: 1rem;
  --input-border-radius: 0.15rem;
  --input-border-color: var(--color-accent);
  --input-border-color-focus: var(--color-primary);
  --input-border-color-selected: var(--color-secondary);
  --input-bg-color-selected: var(--input-border-color-selected);
  --input-color-focus: var(--input-border-color-focus);
  --input-color-selected: var(--input-border-color-selected);
  --label-margin: 0.25rem;
  --legend-margin: calc(var(--label-margin) * 2);
}

label,
.group-label {
  display: block;
  font-size: inherit;
  font-weight: bold;
  padding: 0;
  margin-bottom: var(--label-margin);
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
  text-align: left;
}

input {
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  display: block;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: var(--input-padding);
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    border-color: var(--input-border-color-focus);
    box-shadow: rgba(black, 0.25) 0 3px 6px -3px;
  }
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacer) * -1) calc(var(--spacer) * -1);
  padding: 0 calc(var(--spacer) / 2);

  > * {
    flex: 0 0 calc(50% - var(--spacer));
    margin: 0 calc(var(--spacer) / 2) var(--spacer);
    max-width: 100%;
  }

  @media (min-width: $bp-small) {
    flex-wrap: nowrap;

    > * {
      flex: 1 0 0px;
    }
  }
}